/* src/components/Leaderboard/leaderboard.scss */

.leaderboard {
  background-color: #87ceeb;
  /* Sky color */
  color: #ffd700;
  border-radius: 10px;
  width: 100%;
  height: 100vh;

  background: linear-gradient(to bottom,
      #66bfe1,
      #00bfff,
      #4682b4);

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  font-family: "Press Start 2P", sans-serif;

  .title {
    text-align: center;
    padding: 20px 0;

    h2 {
      font-size: 2em;
      color: #fff;
      text-shadow: 2px 2px 4px #000;
    }
  }

  .leaderboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    position: relative;
  }

  .tree-container-lead {
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .tree-wrapper {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    width: 100%;
    overflow: hidden;
  }

  .ground-wrapper-lead {
    position: absolute;
    bottom: -250px;
    left: 0;
    width: 100%;
    height: 150px;
    background-image: url('../../assets/groundTree.png');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.15s ease-in-out;

    img {
      display: none;
      /* Hide the image since background-image is used */
    }
  }

  /* Tree Trunk Styling */
  .tree-trunk-lead {
    position: absolute;
    left: 45%;
    bottom: -100px;
    width: 10%;
    height: 65vh;
    background-image: url('../../assets/mainTree.png');
    background-repeat: repeat-y;
    background-size: 100% 144px;
    z-index: 2;
    opacity: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .tree-crown-lead {
    position: absolute;
    top: -250px;
    width: 100%;
    height: 90%;
    z-index: 3;
    background: url("../../assets/crownTree3.png") top no-repeat;
    background-size: cover;
    transform: rotate(179deg);

    img {
      width: 100%;
      height: auto;
    }
  }

  .branches-container {
    position: absolute;
    /* Adjust based on tree height */
    left: 0;
    right: 0;
    height: 100%;
    pointer-events: none;
    /* Ensure branches don't block clicks on tree */
  }




  .navigation-arrows {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .arrow-button {
      background: none;
      border: none;
      color: #ffd700;
      font-size: 2em;
      cursor: pointer;
      margin: 0 10px;
      transition: color 0.3s;

      &:hover {
        color: #fff;
      }

      &:focus {
        outline: none;
      }
    }
  }

  /* Animation for branches */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }




  .branches-container {
    top: 80px;
    left: 0;
    right: 0;
  }

  .branch-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 100%;
    height: 30px;
  }

  .navigation-arrows {
    .arrow-button {
      font-size: 1.5em;
      margin: 0 5px;
    }
  }
}
.rank {
  font-size: 10px;
}
.wallet-address {
  font-size: 10px;
}
.points {
  font-size: 12px;
}