/* src/components/Timer/timer.scss */

.timer {
  position: relative;
  width: 100%;
}

.timer-bar {
  width: 80%;
  margin: 0 auto;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
}
/* src/components/Timer/timer.scss */

.timer-fill {
  height: 100%;
  background-color: red;
  /* Remove the transition to prevent choppy updates */
  /* transition: width 0.1s linear; */
}


.timer-text {
  display: block;
  text-align: center;
  margin-top: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
