.squirrel {
    width: 50px;
    height: auto;
    position: absolute;
    transition: top 1s ease-out, transform 0.5s ease;
}

.squirrel.left {
    left: 20%;
    transform: translate(-50px, -100px);
}

.squirrel.right {
    right: 20%;
    transform: translate(50px, -100px);
}


.squirrel img {
    width: 90px;
    height: auto;

}
.game-area .game-mode .squirrel {
    top: 90%;
}