/* src/components/sprites/Squirrel/squirrel.scss */

.squirrel {
  height: auto;
  position: absolute;
  will-change: transform, bottom;
}

/* Animation when jumping to the first branch */
.squirrel.jumping-to-first-branch {
  animation: jumpToFirstBranch 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

/* Animation when jumping between branches */
.squirrel.jumping-between-branches {
  animation: jumpBetweenBranches 0.5s forwards;
}

@keyframes jumpToFirstBranch {
  0% {
    bottom: 60px;
  }
  20% {
    bottom: 120px;
  }
  40% {
    bottom: 160px;
  }
  50% {
    bottom: 180px;
  }
  60% {
    bottom: 160px;
  }
  100% {
    bottom: 40px;
  }
}

@keyframes jumpBetweenBranches {
  0% {
    bottom: 180px;
  }
  50% {
    bottom: 220px;
  }
  100% {
    bottom: 180px;
  }
}

.squirrel img {
  width: 90px;
  height: auto;
}

.squirrel.left {
  left: 30%;
  transform: translateX(-50%) scaleX(-1);
}

.squirrel.right {
  left: 70%;
  transform: translateX(-50%) scaleX(1);
}
