.squirrel {
    height: auto;
    position: absolute;
    transition: top 1s ease-out, transform 0.5s ease;
}

.squirrel.in-game {
    transition: top 1s ease-out; 
}



.squirrel img {
    width: 90px;
    height: auto;
}
.squirrel.left {
    left: 15%; 
    transform: translateX(-50%) scaleX(1); 
  }
  
  .squirrel.right {
    right: 15%; 
    transform: translateX(50%) scaleX(-1); 
  }