* {
    margin: 0;
    padding: 0;
}
.game-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    position: relative;
    overflow: hidden;
    background: #00bfff;
}

.score, .lives {
    margin: 10px;
    font-size: 1.5em;
}


.tree-wrapper {
    position: absolute;
    z-index: 2;
    top: 130%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    transition: width 1.5s ease-in-out, height 1.5s ease-in-out; 
}

.tree-image {
    position: absolute;
    width: 100%;
    height: 20%;
    transition: opacity 1s ease-out;
}
.tree-image-hidden {
    opacity: 0;
}
.tree-image-main {
    position: absolute;
    width: 100%;
    height: 120%;
    z-index: 1;
    bottom: 668px;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.tree-image.fade-in {
    opacity: 1;
  }
  
  .tree-image.fade-out {
    opacity: 0;
  }
  .tree-image-main.fade-in {
    opacity: 1;
    transform: scale(1);
  }

.scaled {
    transform: scale(2) rotateY(360deg);
    transition: 1.5s ease-in-out;
}

@keyframes pulse {
    0% {
        width: 50%;
    }
    50% {
        width: 70%;
    }
    100% {
        width: 50%;
    }
}

.start-text {
    position: absolute;
    z-index: 3;
    top: 40%;
    transition: ease-in-out all 1s;
    height: auto;
    animation: pulse 3s infinite;
}

.nut-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}


.heart-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.menu-mode .tree-wrapper,
.menu-mode .branches {
    width: 100%; 
    height: 100%;
}

.game-mode .tree-wrapper,
.menu-mode .branches {
    width: 100%; 
    height: 200%;
}

