.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Прикрепляем дерево к верху экрана */
  height: 100vh;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden; /* Ограничиваем игру размером экрана */
}


.branches {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.branch {
  position: absolute;
  width: 50%; /* Ширина ветки, чтобы она не занимала весь экран */
  height: 50px;
  top: 50%; /* Начальная позиция ветки по вертикали */
  transform: translateY(-50%); /* Центрирование ветки */
}


.squirrel {
  font-size: 2em;
  position: relative;
}

.squirrel.left {
  left: 20%;
}

.squirrel.right {
  left: 70%;
}

.score, .lives, .timer {
  margin: 10px;
  font-size: 1.5em;
}
.squirrel img {
  width: 50px;
  height: auto;
}

.branch img {
  width: 25%; /* Уменьшите размер до 30% от ширины контейнера */
  height: auto;
  cursor: pointer;
  transform: scaleX(1); /* Это значение для правой ветки */
}
.tree {
  position: absolute;
  bottom: -65px; /* Закрепляем дерево сверху */
  height: 100%;
 
}

.squirrel img {
  width: 50px;
  height: auto;
  transition: transform 0.5s ease;
}

.squirrel.left {
  transform: translate(-50px, -100px); /* Смещение для прыжков вверх-влево */
}

.squirrel.right {
  transform: translate(50px, -100px); /* Смещение для прыжков вверх-вправо */
}


.branch.left {
  left: 0;
  transform: translateX(-20%) translateY(-50%); /* Позиционируем ветку слева от дерева */
}

.branch.right {
  right: 0;
  transform: translateX(20%) translateY(-50%); /* Позиционируем ветку справа от дерева */
}
